*{
  margin: 0%;
  padding: 0%;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .head {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .head .left {
    font-weight: bold;
  }
  
  .head .back-button {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  .head .otherpage {
    display: flex;
    gap: 10px;
  }
  
  .head .otherpage a {
    color: #fff;
    text-decoration: none;
    margin: 15px;
  }
  .head .otherpage a:hover{
    color: blue;
  }
input[type="text"],
input[type="number"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}
input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
hr {
  margin: 20px 0;
}

.form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.form div h2{
  text-align:center;
}
.main {
  background-color: #f2f2f2;
  padding: 20px;
}
.submitbutton input[type="submit"]:hover {
  background-color: #45a049;
}

.form {
  animation: fade-in 1s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
